<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>panda_hold_ball_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,350}</string>
                <key>spriteSourceSize</key>
                <string>{265,350}</string>
                <key>textureRect</key>
                <string>{{0,0},{265,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>panda_hold_ball_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,350}</string>
                <key>spriteSourceSize</key>
                <string>{265,350}</string>
                <key>textureRect</key>
                <string>{{265,0},{265,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>panda_hold_ball_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,350}</string>
                <key>spriteSourceSize</key>
                <string>{265,350}</string>
                <key>textureRect</key>
                <string>{{530,0},{265,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>panda_hold_ball_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,350}</string>
                <key>spriteSourceSize</key>
                <string>{265,350}</string>
                <key>textureRect</key>
                <string>{{0,350},{265,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>panda_hold_ball_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,350}</string>
                <key>spriteSourceSize</key>
                <string>{265,350}</string>
                <key>textureRect</key>
                <string>{{265,350},{265,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>panda_hold_ball_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,350}</string>
                <key>spriteSourceSize</key>
                <string>{265,350}</string>
                <key>textureRect</key>
                <string>{{530,350},{265,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>panda_hold_ball_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,350}</string>
                <key>spriteSourceSize</key>
                <string>{265,350}</string>
                <key>textureRect</key>
                <string>{{0,700},{265,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>panda_hold_ball_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,350}</string>
                <key>spriteSourceSize</key>
                <string>{265,350}</string>
                <key>textureRect</key>
                <string>{{265,700},{265,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>panda_idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,350}</string>
                <key>spriteSourceSize</key>
                <string>{265,350}</string>
                <key>textureRect</key>
                <string>{{530,700},{265,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>panda_idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,350}</string>
                <key>spriteSourceSize</key>
                <string>{265,350}</string>
                <key>textureRect</key>
                <string>{{0,1050},{265,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>panda_idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,350}</string>
                <key>spriteSourceSize</key>
                <string>{265,350}</string>
                <key>textureRect</key>
                <string>{{265,1050},{265,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>panda_idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,350}</string>
                <key>spriteSourceSize</key>
                <string>{265,350}</string>
                <key>textureRect</key>
                <string>{{530,1050},{265,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>panda.png</string>
            <key>size</key>
            <string>{795,1400}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:63b9a688fbfb3b59c5b1177c6c2f908b:20643bc00a385f2532451d980e88463d:b15cc6d2a62ec5f8149888c0a32299b8$</string>
            <key>textureFileName</key>
            <string>panda.png</string>
        </dict>
    </dict>
</plist>
