<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tbao happy 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,428}</string>
                <key>spriteSourceSize</key>
                <string>{295,428}</string>
                <key>textureRect</key>
                <string>{{0,0},{295,428}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tbao happy 2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,428}</string>
                <key>spriteSourceSize</key>
                <string>{295,428}</string>
                <key>textureRect</key>
                <string>{{295,0},{295,428}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tbao happy 3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,428}</string>
                <key>spriteSourceSize</key>
                <string>{295,428}</string>
                <key>textureRect</key>
                <string>{{590,0},{295,428}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tbao happy 4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,428}</string>
                <key>spriteSourceSize</key>
                <string>{295,428}</string>
                <key>textureRect</key>
                <string>{{885,0},{295,428}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tbao happy 5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,428}</string>
                <key>spriteSourceSize</key>
                <string>{295,428}</string>
                <key>textureRect</key>
                <string>{{1180,0},{295,428}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tbao happy 6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,428}</string>
                <key>spriteSourceSize</key>
                <string>{295,428}</string>
                <key>textureRect</key>
                <string>{{0,428},{295,428}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tbao happy 7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,428}</string>
                <key>spriteSourceSize</key>
                <string>{295,428}</string>
                <key>textureRect</key>
                <string>{{295,428},{295,428}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tbao happy 8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,428}</string>
                <key>spriteSourceSize</key>
                <string>{295,428}</string>
                <key>textureRect</key>
                <string>{{590,428},{295,428}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tbao happy 9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,428}</string>
                <key>spriteSourceSize</key>
                <string>{295,428}</string>
                <key>textureRect</key>
                <string>{{885,428},{295,428}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tbao idle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,428}</string>
                <key>spriteSourceSize</key>
                <string>{295,428}</string>
                <key>textureRect</key>
                <string>{{1180,428},{295,428}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tbao win 10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,428}</string>
                <key>spriteSourceSize</key>
                <string>{295,428}</string>
                <key>textureRect</key>
                <string>{{885,1284},{295,428}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tbao win 11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,428}</string>
                <key>spriteSourceSize</key>
                <string>{295,428}</string>
                <key>textureRect</key>
                <string>{{1180,1284},{295,428}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tbao win 2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,428}</string>
                <key>spriteSourceSize</key>
                <string>{295,428}</string>
                <key>textureRect</key>
                <string>{{0,856},{295,428}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tbao win 3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,428}</string>
                <key>spriteSourceSize</key>
                <string>{295,428}</string>
                <key>textureRect</key>
                <string>{{295,856},{295,428}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tbao win 4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,428}</string>
                <key>spriteSourceSize</key>
                <string>{295,428}</string>
                <key>textureRect</key>
                <string>{{590,856},{295,428}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tbao win 5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,428}</string>
                <key>spriteSourceSize</key>
                <string>{295,428}</string>
                <key>textureRect</key>
                <string>{{885,856},{295,428}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tbao win 6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,428}</string>
                <key>spriteSourceSize</key>
                <string>{295,428}</string>
                <key>textureRect</key>
                <string>{{1180,856},{295,428}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tbao win 7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,428}</string>
                <key>spriteSourceSize</key>
                <string>{295,428}</string>
                <key>textureRect</key>
                <string>{{0,1284},{295,428}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tbao win 8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,428}</string>
                <key>spriteSourceSize</key>
                <string>{295,428}</string>
                <key>textureRect</key>
                <string>{{295,1284},{295,428}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tbao win 9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,428}</string>
                <key>spriteSourceSize</key>
                <string>{295,428}</string>
                <key>textureRect</key>
                <string>{{590,1284},{295,428}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tbao.png</string>
            <key>size</key>
            <string>{1475,1712}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f5b5316ce88788ee94a02b55ea2fbdf6:1670ab00aa5111df0e00275d51ed79df:60f9ad7f42a78369f8e02275213b0520$</string>
            <key>textureFileName</key>
            <string>tbao.png</string>
        </dict>
    </dict>
</plist>
