<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>failed_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{314,314}</string>
                <key>spriteSourceSize</key>
                <string>{314,314}</string>
                <key>textureRect</key>
                <string>{{0,0},{314,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>failed_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{314,314}</string>
                <key>spriteSourceSize</key>
                <string>{314,314}</string>
                <key>textureRect</key>
                <string>{{314,0},{314,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>failed_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{314,314}</string>
                <key>spriteSourceSize</key>
                <string>{314,314}</string>
                <key>textureRect</key>
                <string>{{628,0},{314,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>failed_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{314,314}</string>
                <key>spriteSourceSize</key>
                <string>{314,314}</string>
                <key>textureRect</key>
                <string>{{942,0},{314,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>yippi_failed.png</string>
            <key>size</key>
            <string>{1256,314}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:562c6544e2ed1b36b74c9cfb8da690eb:c15999f718b936060b0ef1dd6eac5085:9b37ccee86a668f97ce58748dfa9e977$</string>
            <key>textureFileName</key>
            <string>yippi_failed.png</string>
        </dict>
    </dict>
</plist>
